# BOOST 搜索路径
set(BOOST_ROOT "D:/ETC/boost/1.76.0")

# 如果不是在 Qt Creator 中打开，则配置 Qt5 搜索路径
if(NOT QT_QMAKE_EXECUTABLE)
  set(QT_QMAKE_EXECUTABLE "C:/Qt/5.15.2/msvc2019_64/bin/qmake.exe")
  set(Qt5_DIR "C:/Qt/5.15.2/msvc2019_64/lib/cmake/Qt5")
  set(Qt5Core_DIR "C:/Qt/5.15.2/msvc2019_64/lib/cmake/Qt5Core")
  set(Qt5Gui_DIR "C:/Qt/5.15.2/msvc2019_64/lib/cmake/Qt5Gui")
  set(Qt5Widgets_DIR "C:/Qt/5.15.2/msvc2019_64/lib/cmake/Qt5Widgets")
endif()

# OpenCV 搜索路径
set(OpenCV_DIR "D:/ETC/opencv/4.5.3/build")
